@media (max-width: 215px) {
  body {
    margin-top: 180px; 
  }
  

}

@media (max-width: 768px) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .ul {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
}

.zetka {
  position: absolute;
  z-index: 2;
  background-color: black;
}

.centered-text {
  font-size: 2.5rem; 
  font-weight: bold; 
}